[Desktop Entry]
Encoding=UTF-8
Name=Ticker
Comment=Notification ticker
Type=Service
Icon=preferences-desktop-notification

X-KDE-PluginInfo-Author=Yuto Tokunaga
X-KDE-PluginInfo-Email=yuntan.sub1@gmail.com
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=org.kde.plasma.ticker
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=https://github.com/yuntan/plasma-applet-ticker/tree/master
X-KDE-PluginInfo-Category=Windows and Tasks

X-KDE-ServiceTypes=Plasma/Applet
# X-KDE-Library=plasma_applet_ticker
# X-KDE-ParentApp=

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
